h1,
h2,
h3,
h4,
h5,
h6,
button,
li,
address, a {
  font-family: "Averia Serif Libre", "Kalam", cursive;
}

p,
span {
  font-family: "Inter", "Lato", sans-serif;
}

html {
  background-color: #4caf50;
}

body {
  padding: 1em;
  max-width: 1400px;
  margin: 0 auto;
}

header {
  margin: 0 auto;
  text-align: center;
  position: relative;
}

header,
footer {
  background-color: #ffb6c1;
}

header,
main,
footer {
  padding: 20px;
  border-radius: .5rem;
  box-shadow: 5px 5px 5px 2px rgb(85, 85, 85, .90);
}

footer {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

footer p {
   grid-column: 1/2;
}

.socialMedia {
  position: absolute;
  bottom: 4rem;
  right: .5rem;
}

.headerTop {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerMiddle {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

img.logo {
  border-radius: 2rem;
}

img {
  border-radius: 2rem;
}

.date {
padding-top: 20px;
}

main.index {
  text-align: center;
}

main.fresh div#fruits{
  display: grid;
	grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 10px;
}

div#fruits div {
  background-color: rgb(190, 247, 164);
  border: 1px solid #555;
}

main {
  background-color: rgb(255, 220, 226);
  margin: 1.5rem auto;
  display: grid;
  gap: 20px;
}

main div {
  background-color: #ffb6c1;
  box-shadow: 5px 5px 5px 2px rgb(85, 85, 85, .90);
  padding: 10px;
  border-radius: .5rem;
}

div.banner img {
  width: 100%;
  height: auto;
  border-radius: .5rem;
  box-shadow: 5px 5px 5px 2px rgb(85, 85, 85, .90);
}

div.banner button {
  margin: 1rem auto;
  padding: 10px;
  background-color: rgb(190, 247, 164);
  border: 1px solid #555;
  border-radius: .5rem;
}

div.banner a {
  color: black;
}

a {
  text-decoration: none;
}

.active {
  background-color: rgb(193, 126, 255);
}

.navBox {
  display: flex;
}

nav {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

nav ul li {
  flex: 1 1 auto;
}

.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: .1rem;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #6dd7f7;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
form fieldset {
  margin: 2rem 0;
  border-radius: 10px;
  padding: 0.5rem 2%;
  background-color: rgb(190, 247, 164);
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 5px 5px 5px 2px rgb(85, 85, 85, 0.75);
}

form legend {
  color: black;
  margin: 0 1rem;
  padding: 0 0.5rem;
  font-size: 1.5rem;
}

form label,
form div {
  display: block;
  padding-top: 1rem;
  color: black;
  font-size: 1rem;
}

form label input,
form label select {
  display: block;
  font-size: 1rem;
  border: solid 1px #999;
  border-radius: 4px;
  padding: 0.75rem;
  color: #555;
  width: 90%;
  max-width: 20rem;
  background-color: rgba(0, 0, 0, 0.1);
}

form label.sbs {
  display: block;
  padding: 0.75rem 0;
  color: #555;
}

form label.sbs input {
  margin-right: 0.5rem;
}

form input.submitBtn {
  border: none;
  background-color: rgb(245, 245, 245);
  color: black;
  border-radius: 1rem;
  padding: 0.75rem 1.5rem;
  margin: 0 0 2rem 2%;
  width: 96%;
  max-width: 20rem;
  font-size: 1.25rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 5px 5px 5px 2px rgb(85, 85, 85, 0.75);
}

form input.submitBtn:hover {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

form label input:required {
  border-left: red solid 6px;
}

form label input:required:valid {
  border-left: green solid 6px;
}

.history {
  text-align: center;
}

.map {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

div.aboutMap {
  box-shadow: none;
  border-radius: none;
}

iframe {
  width: 100%;
  height: auto;
  border-radius: .5rem;
  box-shadow: 5px 5px 5px 2px rgb(85, 85, 85, .90);
}